:root {
  --borderRadius: 8px;
  --backgroundColor: #ffffff;
}

body {
  background-color: var(--backgroundColor);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #686868;
}

.container {
  display: flex;
  justify-content: center;
}

/* URL FORM GROUP */
.url-group {
  display: flex;
  margin: 1em;
}

.url-group input {
  height: 40px;
  border: none;
  padding: 0 1em;
  border-radius: var(--borderRadius) 0 0 var(--borderRadius);
  border-color: transparent;
  width: 70%;
  margin: 0;
  font-size: 0.7em;
  color: #8d8d8d;
}

.url-group input:focus {
  outline: none;
  color: #4e4e4e;
  background-color: #6868681f;
  border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

.url-group button {
  cursor: pointer;
  max-height: 40px;
  border: none;
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #ffa9be;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.url-group button:active {
  border: none;
  outline: none;
}

.url-group button:hover {
  transform: scale(1.03);
}

/* LOADER COMPONENT */
.bubbles {
  display: flex;
}

.bubbles span {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin: 150px auto;
  background: #fe576c;
  border-radius: 50%;
  animation: bubbly 0.9s infinite alternate;
}

#bubble2 {
  animation-delay: 0.27s;
}
#bubble3 {
  animation-delay: 0.54s;
}

@keyframes bubbly {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    transform: translateY(-32px);
  }
}

/* PREVIEW COMPONENT */
.preview {
  position: relative;
  display: block;
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  border-style: solid;
  border-color: #e1e8ed;
  border-width: 1px;
  font-size: 15px;
}

.preview .image {
  height: 150px;
  background-size: cover;
  background-color: #e1e8ed;
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border-color: #e1e8ed;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  overflow: hidden;
}

.preview .text {
  padding: 0.7em;
}

.preview .text .title {
  display: block;
  margin: 0 0 0.15em;
  font-size: 16px;
  line-height: 18.375px;
  letter-spacing: normal;
  overflow: hidden;
}
.preview .text .description {
  /* display: none; */
  height: 2.6em;
  max-height: 2.6em;
  margin-top: 0.32333em;
  line-height: 1.3em;
  letter-spacing: normal;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  user-select: all;
}

.preview .text .domain {
  text-transform: lowercase;
  line-height: 1.3125;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview .url {
  text-decoration: none;
  color: #367eff;
}

.preview .url:hover {
  text-decoration: underline;
  color: #0053e7;
}

.no-link-style {
  text-decoration: none;
}

/* ERROR */
.error {
  background: #ff000070;
  color: var(--backgroundColor);
  font-size: 15px;
  text-align: center;
  border-radius: var(--borderRadius);
  display: inline-block;
  padding: 1em;
  font-weight: bold;
}

.error .status {
  font-size: 17px;
}
